/* MENU */
.menu__lateral {
    position: fixed;
    width: 66px;
    float: left;
    z-index: 3;
    background-color: #2F343A;
    min-height: 100%;
  }
  
  .menu__lateral__nav {
    display: block;
  }
  
  .menu__lateral__icon {
    padding: 18px 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .menu__lateral__icon div {
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin: 6px auto;
  }
  
  .menu__principal {
    display: block;
  }
  
  .menu__principal__item {
    display: block;
    width: 66px;
    height: 55px;
    line-height: 55px;
    position: relative;
  }
  
  .menu__principal__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .menu__principal__item:hover::after {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    background-color: #ebb11a;
    top: 0;
    left: 0;
  }
  
  .menu__principal__link {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    font-size: 1px;
  }
  
  .menu__ico__admin {
    background: transparent url(ico_manager.png) no-repeat 50% 50%/55% 55%;
    
  }
  
  .menu__ico__admin:hover {
    background: transparent url(ico_manager_hover.png) no-repeat 50% 50%/55% 55%;
    
      
  }
  .menu__ico__supervision {
    background: transparent url(ico_supervision.png) no-repeat 50% 50%/45% 55%;
  }
  
  .menu__ico__supervision:hover {
    background: transparent url(ico_supervision_hover.png) no-repeat 50% 50%/45% 55%;
  }
  
  .menu__ico__ant_menu {
    background: transparent url(ico_men_ant.png) no-repeat 50% 50%/40% 50%;
    
  }
  
  .menu__ico__inicio {
    background: transparent url(ico_inicio.png) no-repeat 50% 50%;
  }
  
  .menu__ico__clientes {
    background: transparent url(ico_clientes.png) no-repeat 50% 50%;
  }
  
  .menu__ico__visitas {
    background: transparent url(ico_visitas.png) no-repeat 50% 50%;
  }
  
  .menu__ico__obras {
    background: transparent url(ico_obras.png) no-repeat 50% 50%;
  }
  
  .menu__ico__reportes {
  background: transparent url(ico_reportes.png) no-repeat 50% 50%; 
  }
  
  .menu__ico__inicio:hover {
    background: transparent url(home.png) no-repeat 50% 50%;
    
  }
  
  .menu__ico__clientes:hover {
    background: transparent url(ico_clientes_over.png) no-repeat 50% 50%;
  }
  
  .menu__ico__visitas:hover {
    background: transparent url(ico_visitas_over.png) no-repeat 50% 50%;
  }
  
  .menu__ico__obras:hover {
    background: transparent url(ico_obras_over.png) no-repeat 50% 50%;
  }
  
  .menu__ico__reportes:hover {
  background: transparent url(ico_reportes_over.png) no-repeat 50% 50%;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 66px;
    min-width: 230px;
    background-color: #212429;
  }
  
  .submenu__item {
    display: block;
    padding: 0 15px;
  }
  
  .submenu__item__link {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .submenu__item__link:hover {
    color: #F4B94A;
  }
  
  .menu__principal__item:hover .submenu {
    display: block;
  }
  /* FIN MENU */

  
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #fff;
    margin-left: 66px;
    position: fixed;
    z-index: 3;
    width: calc(100% - 66px);
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .header__opciones {
      display: flex;
  }
  
  .header__usuario {
      padding: 0px 15px;
      text-align: right;
  }
  .header__usuario p {
      font-family: 'PoppinsRegular';
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      color: #4D4F5C;
  }
  
  .header__campana {
      width: 40px;
      vertical-align: middle;
      border-right: 1px solid #EBEBF2;
      margin-right: 5px;
  }
  
  .header__notificaciones {
      display: inline-block;
      width: 16px;
      height: 16px;;
      text-indent: -999px;
      font-size: 0px;
      background: transparent url(images/notificacion.png) no-repeat 0 0;
      position: relative;
  }
  
  .header__notificaciones span {
      display: block;
      width: 8px;
      height: 8px;
      background-color: #2EC484;
      border: 2px solid #fff;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
  }
  /* FIN HEADER */